@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root{
  --primary-font-color: #fff2a0;
  --secondary-font-color: #f8f1ed;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
  color: var(--primary-font-color);
  font-size: 1.6em;
}

p{
  line-height: 1.4em;
  color: var(--secondary-font-color);
  font-size: 1em;
}

a{
  font-size: 1em;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: var(--primary-font-color);
  text-decoration-thickness: 0.2em;
}

header{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)), url(milano-gallery.jpg) no-repeat center center fixed;
  background-size: cover;
}

nav{
  height: 100px;
  width: 70%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Italiana', serif;
}

.logo{
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  color: var(--primary-font-color);
}

.logo:hover{
  text-decoration: none;
}

nav ul{

  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul > * + *{ /* all adjacent siblings selector*/
  padding-left: 50px;
}

nav ul li a{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Garamond', serif;
  font-weight: bold;
  color: var(--primary-font-color);
}

.main-container{
  height: calc(100vh - 200px);
  display: flex;
}

/* Align all items to center center */
.container{
  display: flex;
  text-align: center;
  align-items: center;
  width: 70%;
  margin: 0px auto;
}

/* All rows are equal */
.container > *{
  flex-basis: 100%;
}

/* Aligns the 1st row's text to the left */
.container .side-1{
  text-align: left; 
}

.container .side-1 p, h1 {
  padding: 5px 25px 5px 0px;
}

/* Size the image in the 2nd row */
.side-2 img{
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

/* Mobile Responsive Container */
@media screen and (max-width: 768px){
  nav{
    width: 90%;
  }
  
  .main-container{
    height: auto;
  }
  
  .container{
    flex-direction: column;
    width: 90%;
    margin: 0px auto;
  }

  .container > *{
    padding: 15px 0px;
    flex-basis: 100%;
  }
}