@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root{
  --primary-font-color: #fff2a0;
  --secondary-font-color: #f8f1ed;
  --navbar-height: 125px;
  --containerwidth-width: 70%;
  --mobilecontainerwidth-width: 90%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  color: var(--primary-font-color);
  font-size: 2.56em;
  font-weight: 100;
}

p{
  line-height: 1.4em;
  color: var(--secondary-font-color);
  font-size: 1em;
}

a{
  font-size: 1em;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: var(--primary-font-color);
  text-decoration-thickness: 0.2em;
}

header{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)), url(milano-gallery.jpg) no-repeat center center fixed;
  background-size: cover;
}

nav{
  height: var(--navbar-height);
  width: var(--containerwidth-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Italiana', serif;
}

.logo{
  font-weight: bold;
  font-size: 1.6em;
  text-decoration: none;
  color: var(--primary-font-color);
}

.logo:hover{
  text-decoration: none;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul > * + *{ /* all adjacent siblings selector*/
  padding-left: 50px;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-family: 'Garamond', serif;
  font-weight: bold;
  color: var(--primary-font-color);
}

.main-container{
  display: flex;
  height: calc(100vh - var(--navbar-height)*2);
}

/* Align all items to center center */
.child-container{
  display: flex;
  text-align: center;
  align-items: center;
  width: var(--containerwidth-width);
  margin: 0px auto;
}

/* All rows are equal */
.child-container > *{
  flex-basis: 100%;
}

/* Aligns the 1st row's text to the left */
.child-container .side-1{
  text-align: left;
}

.child-container .side-1 .date{
  font-size: 1.3em;
  text-transform: uppercase;
}

.date{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  display: flex;
  align-items: flex-start;
}

/* Add padding to header and paragraph */
.child-container .side-1 > *{
  padding: 5px 30px 5px 0px;
}

/* Size the image in the 2nd row */
.child-container .side-2 img{
  max-width: 100%;
  padding: 0px 0px 0px 30px;
  margin: auto;
}

/* Mobile Responsive Container */
@media screen and (max-width: 768px){
  nav{
    width: var(--mobilecontainerwidth-width);
  }
  
  .main-container{
    height: auto;
}
  
  .child-container{
    flex-direction: column-reverse;
    width: var(--mobilecontainerwidth-width);
    margin: 0px auto;
  }

  .child-container > *{
    
    padding: 0.25em 0px 0.5em 0px;
    flex-basis: 100%;
  }

  .child-container .side-1 .date{
    padding-top: 1em;
  }

  .child-container .side-1 h1{
    padding: 0.25em 5px 0.5em 0px;
  }

  .child-container .side-2 img{
    max-width: 100%;
    padding: 0px;
    width: 100%;
  }
}

/* BODY SECTION */

.body-section{
  height: 100vh;
  font-size: 1em;
  background-color: darkslategray;
  display: flex; 
  flex-wrap: wrap;
}

.header-section{
  font-size: 1.2em;
  padding: 3em;
}

.body-section > *{
  width: calc(var(--containerwidth-width) + 2em);
  margin: 2em auto 2em auto;
  display: flex;
  gap: 1em;
}

.body-section .container > *{
  flex-basis: 100%;
  padding: 0 1em;
  overflow: hidden;
}

.body-section .container > * h1{
    padding-bottom: 0.5em;
  }


@media screen and (max-width: 1080px){

  .body-section .container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .body-section .container > * h1{
    padding: 0.5em 0;
  }

  .header-section{
    font-size: 1.1em;
    padding: 2em;
}

}
@media screen and (max-width: 768px){
  .body-section {
    font-size: 0.9em;
  }

  .body-section .container{
    width: calc(var(--mobilecontainerwidth-width) + 2em);
    margin: auto;
    display: flex;
    flex-direction: column;
  }

}




/* Layout */
.slider{
  height: 100vh;
  background-color: darkblue;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
  
}

.disabled-card-previous{
  display: flex;
  height: 300px;
  width: 200px;
  background: url(red-painting.jpg) no-repeat center center;
  background-size: cover;
}

.text-wrapper{
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  background-color: rgb(53, 53, 53);  
}

.disabled-card-previous p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  color: rgb(167, 167, 167)
}

.disabled-card-previous h1{
  flex: 3;
  writing-mode: vertical-rl;
  font-size: 1.1em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-self: center;
  transform: rotate(180deg);
  padding-top: 1.5em;
}






















/*
.disabled-card-previous{

  cursor: pointer;
  height: 350px;
  width: 200px;
  background-image: url(red-painting.jpg);
  background-size: cover;
  transition: 0.20s ease-out;

  box-shadow: 2px 2px 5px darkblue;
}

.disabled-card-previous:hover{
  height: 450px;
  width: 300px;
  box-shadow: 4px 4px 7px darkblue;
}

.disabled-card-previous .text-wrapper{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(52, 52, 63);
  width: 80px;
}

.text-wrapper p{
  font-size: 1.1em;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  color: rgb(173, 172, 172);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-wrapper > h1{

  position: relative;
  font-size: 1.3em;
  padding-top: 20px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-start;
  color: red;
}

.text-wrapper h1{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  
}
 */

