@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

@font-face{
  font-family: Garamond;
  src: url(/fonts/garamond.ttf);
}

:root{
  --primary-font-color: #f5ecb2;
  --secondary-font-color: #f1b495;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
  background-color: #006;
  overflow: hidden;
}

.black{
  color: black;
}

.nav-container{
  position: relative;
  height: 80px;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #005;
  font-family: 'Italiana', serif;
}

.logo{
  font-weight: 600;
  font-size: 42px;
  text-decoration: none;
  color: var(--primary-font-color);
}

nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-left: 60px;
}

nav ul li{
  padding-left: 50px;
}

nav ul li a{
  text-decoration: none;
  font-size: 25px;
  font-family: 'Garamond', serif;
  color: var(--primary-font-color);
}
